@font-face {
	font-family: Roboto;
	/*src: ENTER SOURCE FOR ROBOTO FONT */
}

/* font-stack for general usage on Android: use Roboto if available, else fallback to sans_serif (Droid Sans in case of Android) */

body {
	font-family: Roboto, Droid Sans;
	font-size: 10px;
	font-weight: 100;
	line-height: 1.5em;
}
.center-wrapper {
    text-align: center;
    width: 300px;
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
}

p {
	font-size: 1.2em;
	vertical-align: middle;
	line-height: 1.5em;
}

.ui-icon ui-icon-delete{
	display: block;
}
.info_main{
	padding-left: 48px;
	padding-top: 12px;
	padding-bottom: 3px;
	margin-right:12px;
	vertical-align: middle;
	margin-left: 2.2em;
}

#info_duration{
	color: #232c2d;
	background: url(SpriteSheet10x1_36.png);
	background-position: 0 -72px;
	background-repeat: no-repeat;
}
#info_location{
	color: #232c2d;
	background: url(SpriteSheet10x1_36.png);
	background-position: 0 0px;
	background-repeat: no-repeat;
}

#info_description{
	color: #232c2d;
	background: url(SpriteSheet10x1_36.png);
	background-position: 0 -504px;
	background-repeat: no-repeat;
}

#info_price{
	color: #232c2d;
	background: url(SpriteSheet10x1_36.png);
	background-position: 0 -216px;
	background-repeat: no-repeat;
}


h4 {
	font-size: 2.4em;
	font-weight: 100;
	line-height: 1.5em;
	letter-spacing: 1px;
}