<div data-role="header" data-theme="f"  >
	<a data-icon="back" class="back ui-btn-left">Back</a>
  <h1><%= title %></h1>
</div>
<div class="Content">

<% if(attachments){
	if(attachments.length>3){	%>
<div id="slider1_container" class="slider1" style="position: relative; top: 0px; left: 0px; width: 100%;
        height: 300px;">
        <div u="slides" style="position: absolute; left: 0px; top: 0px; width: 400px; height: 300px;
            overflow: hidden;">
 
			<div><img u="image" src="<%= attachments[0].images.full.url %>" alt="Image Not available"></div>
            <div><img u="image" src="<%= attachments[1].images.full.url %>" alt="Image Not available"></div>
            <div><img u="image" src="<%= attachments[2].images.full.url %>" alt="Image Not available"></div>
            <div><img u="image" src="<%= attachments[3].images.full.url %>" alt="Image Not available"></div>
			
        </div>
		
		
        <script>
            jssor_slider1_starter('slider1_container');
        </script>
    </div>
<% } } %>	
	<button class="publish" >Facebook Open Graph</button> 
	
	
    <h3 style="padding-left: 44px;" ><span class="ui-icon ui-icon-arrow-r " style="display:inline-block; padding-top:10px"/><%=  custom_fields['maplist_display_price'][0] %></h3>
    <h3 style="padding-left: 44px;" ><span class="ui-icon ui-icon-plus " style="display:inline-block; padding-top:10px"/><strong><%=  custom_fields['maplist_address'][0] %> </strong></h3>
    <h3 style="padding-left: 44px;" ><span class="ui-icon ui-icon-minus " style="display:inline-block; padding-top:10px"/><strong><%=  custom_fields['maplist_duration_count'][0] %> </strong></h3>   
<!--	<h3><strong>Inclusion : <%= custom_fields['maplist_inclusion'][0] %> </strong></h3> -->
	<h3 style="padding-left: 44px;" ><span class="ui-icon ui-icon-check " style="display:inline-block; padding-top:10px"/><strong><%=  custom_fields['maplist_description'][0] %> </strong></h3>   
	
	
</div>		





