<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="height=device-height, user-scalable=no, initial-scale=1" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="description" content="iExperience" />
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
    <meta name="author" content="iExperience" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>iExperience</title>
    <link rel="stylesheet" type="text/css" href="../jQueryMobile/jquery.mobile-1.3.2.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/newstyle.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- jQuery and jQuery Mobile -->
    <script type="text/javascript" src="../jQueryMobile/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../jQueryMobile/jquery.mobile-1.3.2.min.js"></script>
    <script type="text/javascript" src="../js/views/SelectDestination.js"></script>
    <style type="text/css">
        .ui-field-contain .ui-select
        {
            width: 100% !important;
        }
    </style>
</head>
<body>
    <!-- Home -->
    <div data-role="page" id="page1">
        <div data-role="content">
            <div class="CenterAlign">
                <div data-role="fieldcontain">
                    <h1>
                        Where are you going?
                    </h1>
                    <br />
                    <div style="width: 100%; text-align: center;">
                        <div id="info_location">
                            <select id="ddlDestination" data-native-menu="false" name="ddlDestination" data-mini="true"
                                data-corners="false">
                                <option value="select" disabled selected style='display: none;'>Select a destination</option>
                                <option value="punjab">Punjab</option>
                                <option value="chandigarh">Chandigarh</option>
                                <option value="mumbai">Mumbai</option>
                                <option value="mp">M.P.</option>
                                <option value="rajasthan">Rajasthan</option>
                                <option value="leh">Leh Ladakh</option>
                                <option value="ncr">Delhi N.C.R.</option>
                                <option value="rishikesh">Rishikesh</option>
                                <option value="himachal">Himachal</option>
                                <option value="uttarakhand">Uttarakhand</option>
                                <option value="gujarat">Gujarat</option>
                                <option value="mysore">Mysore</option>
                                <option value="sikkim">Sikkim</option>
                            </select></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
